html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	width: 100%;
}


header {
	background-color: #d05c2e;
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
	clear: both;
}

.grain-l {
	width: 7%;
	float: left;
}

.grain-r {
	width: 7%;
	float: right;
}

h1 {
	font-size: 2.5em;
	padding-top: 10px;
	font-family: 'Lora', serif;
	font-weight: bold;
}

li {
	padding-right: 4em;
	border: 0.10rem solid black;
}

ol li {
	list-style-type: none;
	display: inline-block;
	padding-bottom: 2rem;
	font-size: 1em;
	font-family: 'Lora', serif;
}

ol li:hover {
	background-color: #a93f35;
}

.first-one {
	float: left;
	width: 33%;
	margin-right: 15px;
	margin-bottom: 15px;
}

.cereals {
	float: right;
	width: 50%;
	margin-bottom: 15px;
	margin-top: 20px;
	border: 2.5px solid #dedede;
}

.quinoa {
	float: right;
	width: 50%;
	clear: right;
	border: 2.5px solid #dedede;
	margin-bottom: 15px;
}

.p2 {
	clear:both;
	font-size: 16px;
	line-height: 19px;
	font-family: 'Lora', serif;
}

h2 {
	background-color: #dc8252;
	text-align: center;
	color: #fff;
	padding: 15px;
	clear: left;
	font-family: 'Lora', serif;
}

h3 {
	padding: 10px;
	text-align: center;
	font-family: 'Lora', serif;
}

figure {
	margin: 20px;
}

.corn {
	float: none;
	width: 100%;
}

.float-l {
	float: left;
	width: 50%;
}

.float-r {
	float: right;
	width: 50%;
}

.peanuts {
	float: left;
	width: 33%;
	margin-bottom: 15px;
}

.beans {
	float: left;
	width: 33%;
	margin-bottom: 15px;
}

.lentils {
	float: left;
	width: 33%;
	margin-top: 15px;
	margin-bottom: 15px;
}

div {
	background-color: #fff;
}



.copyright {
background-color: #d05c2e;
color: #dedede;
padding: 15px;
}
